.header__lang-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: white;
    text-decoration: none;
    transition: opacity 0.2s ease;
}

.header__lang-link:hover {
    opacity: 80%;
    }

@media screen and (min-width: 768px) {
    .header__lang-link {
        font-size: 24px;
        line-height: 28px;
    }
}