.photo-grid {
    margin: 0 auto 64px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    width: calc(100% - 2 * 16px);
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        width: calc(100% - 2 * 24px);
        margin-bottom: 88px;
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        width: calc(100% - 2 * 48px);
        margin-bottom: 92px;
    }
}