.places {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto 41px;
    align-items: center;
    gap: 50px;
}

@media screen and (min-width: 768px) {
    .places {
        max-width: calc(100% - 2 * 24px);
        margin-bottom: 90px;
        gap: 72px;
    }
}

@media screen and (min-width: 1024px) {
    .places {
        max-width: calc(100% - 2 * 48px);
        margin-bottom: 92px;
        gap: 80px;
    }
}

@media screen and (min-width: 1280px) {
    .places {
        max-width: calc(100% - 2 * 148px);
    }
}