.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 48px auto 64px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .lead {
        margin-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .lead {
        width: calc(100% - 2 * 48px);
        margin-bottom: 92px;
    }
}

@media screen and (min-width: 1280px) {
    .lead {
        width: calc(100% - 2 * 148px);
        margin-top: 56px;
    }
}