.cover__subtitle {
    width: calc(100% - 2 * 16px);
    margin: 0 auto 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .cover__subtitle {
        font-size: 18px;
        line-height: 22px;
        width: 360px;
    }
}

