.footer__link {
    list-style-type: none;
    text-decoration: none;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    transition: opacity 0.3s ease;
}

.footer__link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 16px;
        line-height: 18px;
    }
    
}