.place__paragraph {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    width: calc(100% - 2 * 16px);
    margin: 0 auto 25px;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .place__paragraph {
        margin: 0 0 27px;
        width: 352px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        width: 456px;
    }
}

@media screen and (min-width: 1280px) {
    .place__paragraph {
        width: 484px;
    }
}