.lead__subtitle {
    text-align: center;
    margin: 16px auto 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
    width: calc(100% - 2 * 16px);
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 32px auto 0;
        width: calc(100% - 2 * 64px);
    } 
}

@media screen and (min-width: 1024px) {
    .lead__subtitle {
        width: calc(100% - 2 * 144px);
    } 
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        width: calc(100% - 2 * 172px);
    } 
}