.cover {
    width: 100%;
    margin: 0 auto 0;
    font-family: "Inter", Arial, sans-serif;
    color: #fff;
}

@media screen and (min-width: 1280px) {
    .cover {
        width: calc(100% - 2 * 48px);
    }
}