.place__link {
    display: flex;
    width: calc(100% - 2 * 16px);
    margin: 0 auto 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-decoration-line: underline;
    transition: opacity 0.3s ease;
}

.place__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
    .place__link {
        width: 45,83%;
        margin: 0 0 48px;
    }
}