.lead__caption {
    display: flex;
    padding: 8px 0 0 16px;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
}
