.footer {
    font-family: "Inter", Arial, sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: 64px 0 24px 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 2 * 24px);
        margin: 88px auto 0;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: calc(100% - 2 * 48px);
        margin-top: 92px;
    }
}