.footer {
    font-family: 'Inter', Arial, sans-serif;
    color: #FFF;
    display: flex;
    flex-direction: column;
    width: 58,13%;
    margin: 64px 118px 0 16px;
    padding-bottom: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% - 2 * 24px);
        margin: 88px auto 0;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        width: calc(100% - 2 * 48px);
        margin-top: 92px;
    }
}