.place__url-heading {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #aaaaaa;
    width: calc(100% - 2 * 16px);
    margin: 0 auto 12px;
    letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
    .place__url-heading {
        width: 352px;
        margin: 0 0 12px;
    }
}

@media screen and (min-width: 1024px) {
    .place__url-heading {
        line-height: 20.4px;
        width: 456px;
        margin-top: 30px;
    }
}