.place__website {
    width: calc(100% - 2 * 16px);
    margin: 0 0 32px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

@media screen and (min-width: 768px) {
    .place__website {
        max-width: 352px;
        margin-bottom: 48px;
    }
}

@media screen and (min-width: 1024px) {
    .place__website {
        max-width: 456px;
    }
}
