.intro__title {
    display: flex;
    text-align: left;
    font-size: 32px;
    line-height: 109%;
    font-style: normal;
    font-weight: 900;
    max-width: 250px;
    padding: 0 0 40px;
    margin: 0;
    text-rendering: optimizeLegibility;
}

@media screen and (min-width: 768px) {
    .intro__title {
        font-size: 54px;
        line-height: 107%;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__title {
        max-width: 690px;
    }
}
